@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Platypi:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,667;1,667&family=Sigmar+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Platypi:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,667;1,667&family=Sigmar+One&display=swap');

* {
    padding: 0;
    margin: 0;
    /* font-family: "Sigmar One", sans-serif. */
}

html {
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --------------------nav------------------- */

nav {
    font-family: "Sigmar One", sans-serif;
    background-color: #c0bcbc13;
}

.nav_block {
    display: flex;
    padding: 20px 35px;
    align-items: center;
    justify-content: space-between;
}

.name_block {
    display: flex;
    align-items: center;
}

.name_block {
    gap: 5px;
}

.name_block h1 {
    font-size: 20px;
    font-weight: 30px;
}

.burger-menu {
    transition: .3s;
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: none;
}

.course_guide_block ul {
    display: flex;
}

.course_guide_block ul {
    gap: 20px;
}

.course_guide_block ul li a {
    font-size: 16px;
    font-weight: 25px;
    color: #1101019d;
}

.course_guide_block ul li a:hover {
    color: rgba(0, 0, 0, 0.76);
}

.icon_block {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 20px;
}

/* --------------- header -------------- */

header {
    padding: 10px 35px;
    font-family: "Montserrat", sans-serif;
    background-color: #c0bcbc13;
}

.background_block {
    background: url('./img/chocolate-covered-cocoa-powder\ 1.png') center/cover;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.text {
    width: 100%;
    /* margin-top: 270px; */
    padding-top: 300px;
}

.text_block {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0px 50px;
}

.text_block h1 {
    /* padding-top: 30%; */
    width: 50%;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.button_block {
    align-items: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 20px;
}

.button_block button {
    cursor: pointer;
    border: none;
    background-color: #FD9222;
    padding: 14px 40px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 100;
}
.button_block button a {
    color: white;
}

#special {
    background: none;
    border: 1px solid white;
}


/* ---------------- main --------------- */

main {
    font-family: "Montserrat", sans-serif;
}

.main_block {
    padding: 50px 0;
    color: white;
    background-color: #c0bcbc13;
}

.consistent_block {
    display: flex;
    padding: 40px 35px;
    color: white;
    background-color: #1E1823;
}

.advertising_block h1 {
    padding: 30px 0;
    font-size: 25px;
    font-weight: 500;
}

.advertising_block p {
    font-size: 16px;
    font-weight: 100;
}

.advertising_block {
    padding: 10px 30px;
}

.line_block {
    height: 230px;
    border-left: 1px solid rgba(255, 255, 255, 0.26);
}

/* --------- detail_block ---------- */

.detail_block {
    background-color: #c0bcbc13;
    padding: 35px;
}

.feeling_block {
    text-align: center;
}

.feeling_block h1 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 32px;
    line-height: 35px;
}

.feeling_block h1 span {
    color: #FD9222;
}

.details_block {
    display: flex;
    padding: 50px 0; 
    justify-content: center;
}

.details_block h2 {
    /* padding: 10px; */
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.details_block .flex_block,
.flex_two_block {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.flex_block div {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid orange;
}

.flex_two_block div {
    padding: 20xp ;
    border-radius: 15px;
    border: 1px solid #FD9222;
}

.details_block div img {
    width: 100%;
    height: 200px;
}

.milk {
    background-color: #FD9222;
    color: white;
}

.nuts {
    padding: 20px;
    background-color: #1E1823;
    color: white;
}

.sweet {
    padding: 20px;
}

/* ----------------- prepare_block -------------- */

.prepare_block h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 140px;
}

.prepare_block h1 span {
    color: #FD9222;
}

.img_block {
    display: inline-flex;
    padding-top: 70px;
    gap: 20px;
}

.image-1 {
    width: 50%;
}
.image-1 img {
    width: 100%;
    height: 100%;
}

.ingredient_block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}

.ingredient_block h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

.ingredient_block ul {
    background-color: white;
    list-style: disc;
}

.ingredient_block ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 20px;
}

/* ---------------------- product_block ---------------------- */

.product_block h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 70px;
} 
.product_block h1 span {
    color: #FD9222;
} 

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-slide div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 300px;
    object-fit:contain ;
}

.swiper-slide {
    font-size: 18px;
    border-radius: 15px;
    /* padding: 30px 20px ; */
    border: 1px solid rgba(0, 0, 0, 0.103);
}
.swiper-slide h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.swiper-slide h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 15px;
}
.swiper-slide button {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    border: 1px solid #1111111A;
    background-color: #FAFAFA;
    padding: 8px 20px;
    border-radius: 100px;
    margin-bottom: 20px;
}



.swiper_block {
    padding-top: 80px;
}

/* ------------ seller_block --------------- */

.seller_block h1 {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 70px;
}

.seller_block h1 span {
    color: #FD9222;
}

.images_block {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}
.images_block div {
    gap: 10px;
}

.images_block img {
    border-radius: 15px;
}


.story_blcok {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.story_blcok p {
    width: 48%;
}

.story_blcok button {
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    background-color: #FD9222;
}
.story_blcok button a {
    color: white;
}

/* ----------------- loved ---------------- */

.loved h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 30px;
}

.loved h1 span {
    color: #FD9222;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiperTwo {
    width: 100%;
    height: 380px;
}

.slideTwo {
    position: relative;
    margin-top: 100px;
    height: 200px !important;
}

.slideTwo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideTwo div h1 {
    padding-top: 45px;
    padding-bottom: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.slideTwo div p {
    padding: 20px 20px 0px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.slideTwo img {
    margin-bottom: 18px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -45px;
}

.loved_block {
    text-align: center;
    padding: 50px 0;
}

.loved_block button {
    cursor: pointer;
    padding: 14px 40px;
    border: 1px solid #FD9222;
    font-size: 18px;
    font-weight: 500;
    background: none;
    border-radius: 100px;
    margin-bottom: 60px;
}
.loved_block button a {
    color: black;
}

/* footer */

footer {
    font-family: "Montserrat", sans-serif;
}

.decor_block {
    background: url('./img/Subcribe (2).png') center/cover;
    width: 100%;
    height: 100%;
}

.decor_block {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 30px 0;
}

.decor_block h1 {
    width: 50%;
    padding: 30px;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 28px;
    font-weight: 600;
}

.decor_block p {
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.decor_block button {
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 100px;
    background-color: #FD9222;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 40px;
}
.decor_block button a {
    color: white;
}

/* Contact_block */

.Contact_block {
    padding: 0 35px;
    background-color: #1E1823;
}

.textcontact_block {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.textcontact_block h1 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    color: white;
    width: 30%;
}

.textcontact_block h1 span {
    color: #FD9222;
}

.Our_contacts {
    display: flex;
    gap: 40px;
}

.Our_contacts h2 {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: white;
}

.Our_contacts ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    cursor: pointer;
}

.icon_two_block {
    display: flex;
    gap: 20px;
}

.line_two_block {
    border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}

.end_block ul {
    padding-top: 24px;
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
}

.end_block ul li a {
    padding-bottom: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: white;
}

@media screen and (max-width: 1192px) {

    /* ----------------- prepare_block -------------- */

    .ingredient_block h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .ingredient_block ul li {
        padding-top: 10px;
        font-size: 14px;
        font-weight: 400;
    }

    .chocolate_block img {
        padding: 20px;
    }

    .milk_block img {
        padding: 20px;
    }

    .nuts_block img {
        padding: 20px;
    }

    .sweetchocolate_block img {
        padding: 20px;
    }

}

@media screen and (max-width: 1165px) {
    .images_block img {
        width: 350px;
    }
}

@media screen and (max-width: 1128px) {

    /* .images_block img {
        width: 300px;
    } */

    /* .image-1 img {
        width: 500px;
        height: 357px;
    } */

    /* .ingredient_block {
        height: 300px;
    } */
}

@media screen and (max-width: 1112px) {

    /* --------------------nav------------------- */

    .name_block {
        gap: 4px;
    }

    .name_block h1 {
        font-size: 18px;
        font-weight: 300;
    }

    .course_guide_block ul {
        gap: 10px;
    }

    .course_guide_block ul li a {
        font-size: 14px;
        font-weight: 25px;
    }

    /* --------------- header -------------- */

    .text_block h1 {
        font-size: 28px;
        font-weight: 400;
    }

    .button_block button {
        padding: 13px 35px;
        border-radius: 100px;
        font-size: 14px;
        font-weight: 100;
    }

    .decor_block p {
        width: 70%;
        font-weight: 300;
    }

    .images_block img {
        width: 330px;
    }

    .details_block h2 {
        padding-top: 25px;
    }
}

@media screen and (max-width: 1072px) {
    .images_block img {
        width: 320px;
    }
}

@media screen and (max-width: 1046px) {

    .textcontact_block h1 {
        width: 40%;
    }

    .decor_block p {
        width: 80%;
        font-weight: 300;
    }

    .slideTwo img {
        width: 75px;
        height: 75px;
        top: -45px;
    }

    .swiper-slide img {
        width: 260px;
    }
}

@media screen and (max-width: 1020px) {

    .flex_block div {
        padding: 0px;
    }

    .nuts {
        padding: 0px;
    }

    .sweet {
        padding: 0px;
    }

    .details_block h2 {
        padding: 10px;
    }

    .images_block img {
        width: 310px;
    }
}

@media screen and (max-width: 1016px) {

    .ingredient_block h2 {
        font-size: 16px;
    }

    .ingredient_block ul li {
        font-size: 13px;
    }

    .swiper-slide h2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
    }

    .swiper-slide button {
        font-size: 13px;
        padding: 6px 15px;
    }

    .images_block img {
        width: 290px;
    }
}

@media screen and (max-width: 957px) {

    .course_guide_block {
        display: none;
    }

    .icon_block {
        display: none;
    }

    .burger-menu {
        display: inline-block;
        justify-content: space-between;
    }

    .ingredient_block h2 {
        font-size: 16px;
    }

    .ingredient_block ul li {
        font-size: 14px;
    }

    .swiper-slide img {
        padding-top: 10px;
        width: 240px;
    }

    .details_block {
        display: block;
        align-items: center;
    }
    
}

@media screen and (max-width: 946px) {

    .advertising_block p {
        font-size: 13px;
    }

    .advertising_block h1 {
        padding: 20px 0;
        font-size: 20px;
    }

    .advertising_block img {
        width: 50px;
    }

    .feeling_block h1 {
        padding-top: 35px;
        padding-bottom: 25px;
        font-size: 26px;
        line-height: 30px;
    }

    .feeling_block p {
        font-size: 16px;
    }

    .prepare_block h1 {
        font-size: 26px;
        padding-top: 50px;
    }

    .product_block h1 {
        font-size: 26px;
    }

    .seller_block h1 {
        font-size: 26px;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .loved h1 {
        font-size: 26px;
    }

    .loved_block button {
        cursor: pointer;
        padding: 12px 35px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 928px) {
    .image-1 img {
        width: 100%;
        height: 100%;
    }

    .img_block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
        gap: 20px;
    }

    .images_block img {
        width: 268px;
    }
}

@media screen and (max-width: 902px) {

    .advertising_block p {
        overflow: scroll;
        padding: 10px;
        height: 100px;
    }

    .images_block img {
        width: 260px;
    }

    .images_block {
        gap: 10px;
    }

    .images_block img {
        width: 250px;
    }

    .swiper-slide img {
        width: 230px;
    }
}

@media screen and (max-width: 827px) {
    .advertising_block h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 834px) {


    .scroll_block {
        padding-bottom: 10px;
    }

    .text_block h1 {
        font-size: 24px;
    }

    .slideTwo div h1 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .slideTwo div p {
        font-size: 13px;
    }

    .slideTwo img {
        width: 70px;
        height: 70px;
        top: -40px;
    }

    .decor_block h1 {
        font-size: 22px;
    }

    .swiper-slide h2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
    }
    
    .swiper-slide img {
        width: 220px;
    }

    .images_block div {
        display: none;
    }

    .images_block img {
        width: 360px;
    }

}

@media screen and (max-width: 802px) {
    .images_block img {
        width: 340px;
    }

    .text_block h1 {
        width: 60%;
    }
}

@media screen and (max-width: 750px) {

    .text_block h1 {
        width: 60%;
    }

    .slideTwo div p {
        font-size: 14px;
    }

    .images_block img {
        width: 300px;
    }

    .advertising_block p {
        overflow: scroll;
        font-size: 14px;
    }

    .advertising_block h1 {
        padding: 20px 0;
        font-size: 16px;
    }

    .decor_block h1 {
        font-size: 19px;
    }

    .decor_block p {
        font-size: 14px;
        width: 70%;
    }

    .decor_block button {
        padding: 10px 30px;
        font-size: 13px;
    }

    .textcontact_block h1 {
        font-size: 20px;
    }

    .Our_contacts h2 {
        font-size: 12px;
    }

    .Our_contacts ul li {
        font-size: 10px;
        font-weight: 300;
    }

    .end_block ul {
        padding-bottom: 36px;
    }

    .end_block ul li a {
        padding-bottom: 20px;
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        color: white;
    }

    .slideTwo div h1 {
        padding-top: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .decor_block p {
        width: 80%;
    }

}

@media screen and (max-width: 678px) {

    .images_block img {
        width: 290px;
    }

}

@media screen and (max-width: 654px) {

    .consistent_block {
        flex-wrap: wrap;
        text-align: center;
    }

    .line_block {
        display: none;
    }

    .text_block h1 {
        font-size: 20px;
        width: 60%;
        padding-top: 350px;
    }

    .button_block button {
        padding: 12px 30px;
        border-radius: 100px;
        font-size: 12px;
        font-weight: 100;
    }

    .feeling_block h1 {
        font-size: 20px;
    }

    .feeling_block p {
        font-size: 13px;
    }

    .prepare_block h1 {
        font-size: 23px;
    }

    .seller_block h1 {
        font-size: 23px;
        padding-bottom: 30px;
    }

    .images_block img {
        width: 275px;
    }

    .product_block h1 {
        font-size: 23px;
    }

    .loved h1 {
        font-size: 23px;
    }

    .text_block h1 {
        padding-top: 350px;
    }
}

@media screen and (max-width: 616px) {

    .images_block img {
        width: 264px;
    }

    .story_blcok {
        display: block;
    }
    .story_blcok p {
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }
    .story_blcok div {
        text-align: center;
    }

    .text_block h1 {
        width: 70%;
    }
}

@media screen and (max-width: 591px) {

    .slideTwo div h1 {
        font-size: 14px;
    }
    .slideTwo div p {
        font-size: 12px;
    }

    .images_block img {
        width: 255px;
    }
}

@media screen and (max-width: 572px) {

    .images_block img {
        width: 240px;
    }

    .story_blcok p {
        font-size: 12px;
    }
    
    .slideTwo img {
        width: 60px;
        height: 60px;
        top: -35px;
    }

    .loved_block button {
        padding: 10px 30px;
        font-size: 13px;
        margin-bottom: 30px;
    }

    .decor_block h1 {
        font-size: 16px;
    }

    .decor_block p {
        font-size: 13px;
    }

    .story_blcok p {
        font-size: 14PX;
    }
    .story_blcok div {
        text-align: center;
    }
}

@media screen and (max-width: 551px) {

    .text_block h1 {
        width: 80%;
    }

    .scroll_block {
        padding-bottom: 20px;
    }

    .swiper-slide img {
        width: 200px;
    }
    .slideTwo div h1 {
        font-size: 14px;
    }
    .slideTwo div p {
        font-size: 10px;
    }

    .images_block img {
        width: 220px;
    }

    .textcontact_block h1 {
        font-size: 18px;
    }

    .Our_contacts h2 {
        font-size: 10px;
    }

    .Our_contacts ul li {
        font-size: 8px;
        font-weight: 300;
    }
    
    .end_block ul {
        gap: 10px;
    }
    .end_block ul li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 508px) {

    .text_block h1 {
        width: 100%;
    }

    .button_block button {
        padding: 10px 25px;
        font-size: 10px;
        font-weight: 100;
    }
    
    .flex_block div {
        display: block;
    }
    
    .images_block {
        flex-wrap: wrap;
    }

    .images_block img {
        width: 368px;
    }

    .textcontact_block h1 {
        font-size: 16px;
    }

    .slideTwo div p {
        font-size: 13px;
    }

    .icon_two_block img {
        width: 16px;
    }

    .flex_block {
        gap: 10px;
    }

    .flex_two_block {
        gap: 10px;
    }

    .sweetchocolate_block h2 {
        padding: 20px 10px;
    }

    .end_block ul {
        gap: 10px;
    }
}

@media screen and (max-width: 469px) {

    .text_block h1 {
        font-size: 18px;
        width: 100%;
        padding-top: 350px;
    }

    .details_block {
        gap: 20px;
    }

    .flex_block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .flex_two_block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .images_block img {
        width: 345px;
    }
    
    .decor_block h1 {
        width: 50%;
    }

    .textcontact_block h1 {
        font-size: 14px;
    }

}

@media screen and (max-width: 431px) {

    .end_block ul li a{
        font-size: 8px;
    }    

}

@media screen and (max-width: 410px) {

    .text_block {
        padding: 0 30px;
    }

    .text_block h1 {
        width: 100%;
    }

    .textcontact_block h1 {
        font-size: 13px;
    }

    .textcontact_block {
        flex-direction: column;
        padding: 28px 0;
    }

    .textcontact_block h1 {
        width: 50%;
        line-height: 18px;
        padding-bottom: 20px;
    }

    .images_block img {
        width: 320px;
    }

    .Our_contacts {
        justify-content: space-between;
    }
    .Our_contacts ul li {
        font-size: 10px;
        font-weight: 300;
    }

    .end_block ul li a {
        font-size: 9px;
    }

    .story_blcok p {
        width: 100%;
    }

    .end_block ul {
        flex-direction: column;
    }
    .end_block ul li a {
        font-size: 10px;
    }
}

@media screen and (max-width: 390px) {

    .images_block img {
        width: 258px;
    }

}

@media screen and (max-width: 374px) {

    .images_block img {
        width: 330px;
    }

    .end_block ul {
        flex-direction: column;
    }

    .feeling_block h1 {
        font-size: 18px;
    }

    .feeling_block p {
        font-size: 11px;
    }

}

@media screen and (max-width: 352px) {

    .text_block {
        padding: 0px 30px;
    }

    .images_block img {
        width: 280px;
    }

    .decor_block h1 {
        font-size: 14px;
    }

    .decor_block p {
        font-size: 10px;
    }

    .decor_block button {
        padding: 10px 30px;
        font-size: 10px;
    }
}

@media screen and (max-width: 333px) {
    .name_block h1 {
        font-size: 16px;
        font-weight: 300;
    }

    .images_block img {
        width: 260px;
    }

    .textcontact_block h1 {
        width: 70%;
    }
}